.cards{
  min-width: 920px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  grid-template-rows: auto;
  /* align-items: center; */
  /* align-self: center; */
  column-gap: 100px;
  padding: 0;
  /* margin: auto; */
  padding-bottom: 100px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
/* p.s. не знаю почему, но при уменьшении экрана - карточки не переносятся вниз. А когда ставлю max-width - переносятся, но всё сьезжает. Видимо адаптива надо дождаться  */
